/PHMS-Android/.idea
.DS_Store
PHMS-Android/app/google-services.json
/PHMS-Backend/.idea
/PHMS-Backend/.gradle
/PHMS-Backend/build
PHMS-Backend/src/main/resources/serviceAccountKey.json
PHMS-Backend/data.db
/Supporting/venv
.vscode/settings.json
/PHMS-Backend/bin
/Supporting/venv
/PHMS-Backend/bin
/.vscode
/PHMS-Android/app/.idea
PHMS-Android/.env
/PHMS-Backend/local.properties
